<ion-view view-title="Foodcart" style="padding-bottom:2px; background-size: cover;">
	
	
	<ion-content style="background: url('img/home3.jpg'); background-size: 100% 100% !important;">

			
			<div class="spacer" style="height: 100px;"></div>
				
			<div class="row welcome-row">
					<div class="col welcome-col">
					<div class="animated flipInX">
						<button class="button  button-block button-royal" style="color:white; font-size:17px; font-weight:bold; font-family:Courier New" nav-direction="forward" ng-click="pinfo()">
							Product Information
						</button> 
					</div>
					</div>		
            </div>
			<div class="row">
				<div class="col welcome-col">
					<div class="animated flipInX">
					<button class="button button-royal button-block" style="font-size:17px; font-weight:bold; font-family:Courier New" nav-direction="forward" ng-click="oinfo()">
						Order Information
					</button>
					</div>
				</div>
			</div>
			<div class="row welcome-row">
					<div class="col welcome-col">
					<div class="animated flipInX">
						<button class="button  button-block button-royal" style="color:white; font-size:17px; font-weight:bold; font-family:Courier New" nav-direction="forward" ng-click="dinfo()">
							Delivered order list
						</button> 
					</div>
					</div>		
            </div>
			
	</ion-content>		

				
</ion-view>