<ion-view view-title="Foodcart" style="padding-bottom:2px; background-size: cover;">
	
		<ion-nav-buttons side="right">
			<a href="#/mycart" class="button button-clear icon ion-android-cart"></a>		
		</ion-nav-buttons>
	
	<ion-content style="background: url('img/home3.jpg'); background-size: 100% 100% !important;">
	
			<div class="list">
			   <div class="item item-icon-left item-icon-right">
					<a ng-click="offers()">
					  <i class="icon ion-pricetags"></i> 
					  <strong>Offers</strong>
					  <i class="icon ion-chevron-right"></i>
					</a>
			   </div>
			   <div class="item item-icon-left item-icon-right">
				  <a ng-click="grocery()">
					  <i class="icon ion-bag"></i>
					  <strong>Grocery</strong>
					  <i class="icon ion-chevron-right"></i>
				  </a>
			   </div>
			   <div class="item item-icon-left item-icon-right">
				 <a ng-click="manfashion()">
					  <i class="icon ion-man"></i>
					  <strong>Men Fashion</strong>
					  <i class="icon ion-chevron-right"></i>
				</a>
			   </div>
			   <div class="item item-icon-left item-icon-right">
				 <a ng-click="womenfashion()">
					  <i class="icon ion-woman"></i>
					  <strong>Women Fashion</strong>
					  <i class="icon ion-chevron-right"></i>
				</a>
			   </div>
			   <div class="item item-icon-left item-icon-right">
					<a ng-click="electric()">
					  <i class="icon ion-ios-monitor"></i>
					  <strong>Electronics</strong>
					  <i class="icon ion-chevron-right"></i>	
					</a>
			   </div>
			   <div class="item item-icon-left item-icon-right">
					<a ng-click="book()">
						  <i class="icon ion-ios-book"></i>
						  <strong>Books & More</strong>
						  <i class="icon ion-chevron-right"></i>
					 </a>
			   </div>
			   <div class="item item-icon-left item-icon-right">
					<a ng-click="home()">
						  <i class="icon ion-home"></i>
						  <strong>Home & Furniture</strong>
						  <i class="icon ion-chevron-right"></i>
					</a>
			   </div>
			</div>
	</ion-content>		
				
</ion-view>