<ion-view view-title="Foodcart" style="padding-bottom:2px; background-size: cover;">
	
		<ion-nav-buttons side="right">
			<a href="#/mycart" class="button button-clear icon ion-android-cart"></a>		
		</ion-nav-buttons>
	
	<ion-content style="background: url('img/home3.jpg'); background-size: 100% 100% !important;">
	
			<div class="list" ng-repeat="user in contactlist">
				 <div class="item item-thumbnail-left" style="border-bottom:none;border-top:none">
							  <img ng-src="{{user.img}}">
							<div class="row">
								<div class="col col-100" style="padding-top:0px;padding-left:0px; ">
									<span style="font-size: 15px;color: #0b8258;">{{user.value}}</span><br>
									<span style="font-size: 15px;color: #8d9118; text-align:right">{{user.name}}</span><br>
									<span style="font-size: 12px;color: #211CB6;">{{user.price}}</span><br>
									<span style="font-size: 12px;color: #8e1325;word-break: keep-all; white-space: normal; padding-top:0px">{{user.desc}}</span>
								</div>
							</div>
				</div>
				
								<div class = "button-bar">
									<button ng-click="addcart(user)" class="button button-small button-positive">Add to Cart</a></button>
									<button ng-click="buynow()" class="button button-small button-balanced">Buy Now</a></button>    
								</div>
							
				
					 
				 
			</div>
	</ion-content>		
		
	<ion-footer-bar class="bar-royal">
		  
		  <a class="tab-item" ng-click="loadgrocery()">
			<i class="icon ion-bag"></i>
		  </a>
		  <a class="tab-item" ng-click="loadfashion()" >
			<i class="icon ion-tshirt"></i>
		  </a>
		  <a class="tab-item" ng-click="loadelectronics()">
			<i class="icon ion-ios-monitor"></i>
		  </a>
		  <a class="tab-item" ng-click="loadall()">
			<i class="icon ion-more"></i>
		  </a>
		
		
	</ion-footer-bar>
				
</ion-view>