<ion-view title="checkout" style="background: url('img/home3.jpg'); background-size: 100% 100% !important;">
	<ion-content>
		<ion-list>
			  <ion-checkbox ng-model="user.en" ng-repeat="user in user">
				<div style="font-size:26px; color:#9e538c">Address 1</div>
				<h3 style="letter-spacing:2px; font-size:18px; color:#426aaa" ng-model="customer.name">{{user.name}}</h3>
				<h3 style="letter-spacing:2px; font-size:18px; color:#426aaa" ng-model="customer.mobile">{{user.mobile}}</h3>
				<h3 style="letter-spacing:2px; font-size:18px; color:#426aaa" ng-model="customer.address">{{user.address}}</h3> 	
			  </ion-checkbox>
			  <ion-checkbox ng-model="data.en" ng-repeat="data in newaddress track by $index">
				<div style="font-size:26px; color:#9e538c">Address 2</div>
				<h3 style="letter-spacing:2px; font-size:18px; color:#426aaa">{{data.coname}}</h3> 
				<h3 style="letter-spacing:2px; font-size:18px; color:#426aaa">{{data.mobile}}</h3>
				<h3 style="letter-spacing:2px; font-size:18px; color:#426aaa">{{data.address}}</h3> 
				<h3 style="letter-spacing:2px; font-size:18px; color:#426aaa">{{data.pin}}</h3> 
			  </ion-checkbox>
		  
	    </ion-list>
		<div class="spacer" style="height: 50px;"></div>
		<div>
			<a ng-click="showPopup()" style="text-shadow: 1px 1px black; font-size:20px" class="button button-calm button-block button-clear">Or Add another address.</a>
		</div>
		
		<div class="row">
		<button class="button button-block button-balanced" ng-click="payment(user,newaddress)">Procced to payment</button>
		</div>
	</ion-content>
</ion-view>
